YouCompleteMe/
Zenburn/
indentpython.vim/
molokai/
nerdtree/
powerline/
splitjoin.vim/
syntastic/
ultisnips/
tagbar/
taglist.vim/
vim-colors-solarized/
vim-flake8/
vim-fugitive/
vim-go/
vim-nerdtree-tabs/
